/* PS: this file is linked in vue.config.js under 'css.loaderOptions.sass.prependData' */

// Main Theme colors
$text: #f4f1ed;
$primary: #f0a500;
$secondary: #1a1c20; 

// $text-disabled: #2c2e35;
// $primary-alpha: hsla(216, 67%, 22%, 0.65);
