/* PS: this file is linked in vue.config.js under 'css.loaderOptions.sass.prependData' */

// Theme colors
$text: #2c2e35;
$text-disabled: #2c2e35;
$primary: #122f5c;
$primary-alpha: hsla(216, 67%, 22%, 0.65);
$secondary: #00a9cd; 
